<table>
    <tr>
        <td><a href="{{site.baseurl}}/sprint2/home">Home</a></td>
        <td><a href="{{site.baseurl}}/sprint2/2">Unit 2</a></td>
        <td><a href="{{site.baseurl}}/sprint2/3">Unit 3</a></td>
        <td><a href="{{site.baseurl}}/sprint2/4">Unit 4</a></td>
        <td><a href="{{site.baseurl}}/sprint2/5">Unit 5</a></td>
        <td><a href="{{site.baseurl}}/sprint2/6">Unit 6</a></td>
        <td><a href="{{site.baseurl}}/sprint2/7">Unit 7</a></td>
        <td><a href="{{site.baseurl}}/sprint2/8">Unit 8</a></td>
        <td><a href="{{site.baseurl}}/sprint2/9">Unit 9</a></td>
    </tr>
</table>